@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");

:root,
html,
body {
  --dark: 20, 20, 20;
  --light: 240, 240, 240;
  --accent: 40, 80, 255;
  --primary: normal 500 16px "Outfit", sans-serif;
  /* --secondary: normal 500 16px "Lora", serif; */
  --secondary: normal 600 16px "Oswald", sans-serif;

  background-color: rgb(var(--dark));
  color: rgb(var(--light));
  font: var(--primary);
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
