section {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

ul {
  justify-content: flex-start;
  width: fit-content;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  scrollbar-width: none;
  transition: all 0.5s ease;

  li {
    width: 40rem;
    height: 80%;
    margin: 0 2.5rem;
    background-color: rgba(var(--light), 0.2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(var(--light), 0.25);
  }
}
