body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

main {
  width: fit-content;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
}
