html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main {
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  transition: all 0.5s ease;
}
